body{

background-repeat:no-repeat;
background-position:center;
border-collapse:separate;
background-size:cover;

}
.headertop{
	background-color:rgba(12, 191, 224, 0.91);	
	color:#fff;
	width:100%;
	padding:10;
}
.heading{           
     margin:1%;
     text-transform:uppercase;
     font-family:Arial;
     font-weight:bolder;
     font-size:26px; 
	 width:100%;	
     color:#fff;
		 
     text-shadow: 0px 1px 0px #999,
     	          0px 2px 0px #888,
        	      0px 3px 0px #777,
            	  0px 4px 0px #666,
                  0px 5px 0px #555,
                  0px 6px 0px #444,
                  0px 7px 0px #333,
                  0px 8px 7px #001135;
}
h2 a{
	
	color:#FFFFFF;

}
h2 a:hover{
	color:#fff;
text-decoration:none;
	}
	
.main_div{
            margin:6% 25%;             
            box-shadow:0 3px 5px 0 rgba(142, 235, 241, 0.2), 0 3px 15px 0 rgba(142, 235, 241, 0.58);
            width:50%;
            height:480px;            
            border-radius:4px;
           
            background-color:rgba(9, 2, 2, 0.41);
            }
h3{
           font-family:Verdana;
           font-size:20px;
           font-weight:500;
           
           letter-spacing:.09em;
           color:#FFFFFF;
		   text-shadow:1px 2px 1px #fff,2px 2px 2px #fff;
           padding:8px;
           margin-bottom:15px;

}
  .inner_div{
             /*box-shadow:0 3px 5px 0 rgba(142, 235, 241, 0.2), 0 3px 5px 0 rgba(142, 235, 241, 0.69);*/
            width:70%;
            padding:12%;
            margin:0 auto; 
            height:350px; 
            background-color:rgba(9, 2, 2, 0.21);
                      
        }
       .txtStyle{
           width:100%;
           height:41px;
           border:1px solid rgba(142, 235, 241, 0.58);
           /*border:1px solid rgba(238, 235, 202, 0.85);*/
           text-align:center;
           font-size:16px;
           font-family:Verdana;
           opacity:10;
           color:#fff;
           /*background-color:rgba(16, 251, 244, 0.42);*/
           background-color:rgba(228, 209, 209, 0.54);
         /* background-color:whitesmoke; */
}